.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 10vmin;
}

.App-logo2{
    animation: App-logo-spin infinite 20s linear;
    height: 4vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Cartelera{
  min-width: 200px;
  height:100%;
}

.thumbnail{
  width: 40%;
  height:80%;
  position: absolute;
  left: 10%;
  bottom: 50px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out;
  z-index:0;
}

.thumbnail:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
  z-index:5;
}

.Fondo{
  float:left;
  height: 100%;
  width:100%;
}

.fecha{
  font-size: 12px;
}

.blur img{
  filter: none;
}

.blur img:hover{
  filter: blur(6px);
}

.card{
  width: 40%;
  height:80%;
  position: absolute;
  right: 10%;
  bottom: 50px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out;
  z-index:1;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
  z-index:5;
}

.Foot{
  width:100%;
}

.Final{
    width: 100%;
    height: 150px;
    display:inline-block;
    float:left;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow:hidden;
}

.prom{
  align-items: center;
  margin-right: 1000px;
  z-index:60;
  float: left;
  height: 100%;
  min-width:25%;

}

.vacio{
  height: 200px;
}

.Navigation{
  align-items: flex-start;
  padding:0px;
  width: 100%;
}

.Menu{
  margin-bottom: 0;
}

.navbar{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-header{
  display:inline;
}

#dashboard{
  margin:0;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

#Posicion{
  width: 100%;
  text-align: center;
}

.icon-bar{
  width:25px;
  height: 3px;
  background-color: gray;
  margin:6px 0;
}

.NavDesp{
  border-radius: 40%;
}

.Brand{
  width:100px;
  height: 100%;
}

.containerFluid{
  width:100%;
  margin:0;
}


.Header{
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-group{
  margin: 5px 0;
}

.navbar-fixed {
  top: 0;
  left:0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
